<link rel="stylesheet" type="text/css" href="{$atplPath}skin/admin2013_child.css" />
<link rel="stylesheet" type="text/css" href="{$atplPath}skin/house_pingtai.css" />
<style>
.pub { padding:0 3px;}
.pub_1 { color:#5cc55c;}
.pub_2 { color:#fe6548;}
.pub_3 { color:#999;}
.pub_4 { color:#f93;}
.pub_5 { color:#0b8ce8;}

.e1,.e2 { display:inline-block; vertical-align:middle; padding:0 4px; border-radius:3px; color:#fff; margin-right:5px; font-size:12px; line-height:18px; font-style:normal;}
.e1 { background-color:#fe6548;}
.e2 { background-color:#5cc55c;}
.display_false_true,.displayfalse { display:none;}
</style>
<script src="{$Default_tplPath}js/jquery-1.10.2.min.js"></script>
<script src="{$Default_tplPath}js/purl.js"></script>
<script>
var url_obj = $.url(window.location.href).param();
window['pageid']='1';
if(!!url_obj['p'] && url_obj['p']!==''){
	if(!isNaN(url_obj['p'])){
		window['pageid'] = url_obj['p'];
	}
}

 

window['cookieName'] = 'myChuzhuid';
window['apiurl'] = '/api/LouPan/SearchLoupan'; //请求查找楼盘列表接口
window['keyvalues'] = { //请求列表参数 
	"SaleStatus":'', //销售动态
	'IsShelf':'', //上下线
	'PriceRange':'',//价格范围
	'Leixing':'', //类型
	'Region':'',// 区域 
	'Section':'',// 地段
	'PageSort':'',//页面排序方式
	'X1':'',//楼盘/小区坐标X1
	'Y1':'',//楼盘/小区坐标Y1
	'X2':'',//楼盘/小区坐标X2
	'Y2':'',//楼盘/小区坐标Y2
	'PageSize':'20',//每页条数
	'Keywords':'',//关键字
	"pageid":window['pageid'],// 当前分页页数
	'Top':''//前top条
};
</script>
<div class="wrapper" id="app">
	<div class="tab_01" id="tab_change_iskill">
		<ul class="clearfix">
			<li :class="SaleStatus==''?'cur':''"><a href="javascript:void(0);" @click.prevent="filterClick({SaleStatus:''});">全部<em>{{LouPanCount.Default}}</em></a></li>
			<li :class="SaleStatus=='0'?'cur':''"><a href="javascript:void(0);" @click.prevent="filterClick({SaleStatus:'0'});">待售<em>{{LouPanCount.Forsale}}</em></a></li>
			<li :class="SaleStatus=='1'?'cur':''"><a href="javascript:void(0);" @click.prevent="filterClick({SaleStatus:'1'});">在售<em>{{LouPanCount.OnSale}}</em></a></li>
			<li :class="SaleStatus=='2'?'cur':''"><a href="javascript:void(0);" @click.prevent="filterClick({SaleStatus:'2'});">售罄<em>{{LouPanCount.OffSale}}</em></a></li>
			
			<!--  右边按钮 -->
			<div class="right" style="padding:0;">
				<a href="LoupanBaseupdate" class="global2_btn_blue global2_btn_add">添加新楼盘</a>
			</div>

		</ul>
	</div>

	<!-- 搜索表单 -->
	<form name="form2" method="get"  @submit.prevent="submitSearch()"  action=""  style="display:block; padding:5px 0 20px;">
		<select v-model="RegionSelected"> 
			<option v-for="(item,index) in RegionList" :key="item.Chrcategory" :item="item" :index="index" :value="item.Categoryid" >{{item.Chrcategory}}</option>
		</select>

		<select v-model="SectionSelected"> 
			<option v-for="(item,index) in  SectionList" :key="item.Chrcategory" :item="item" :index="index" :value="item.Categoryid">{{item.Chrcategory}}</option>
		</select>　
		
		<input type="text" v-model="Keywords" class="Wdate" style="width:100px;" value=""> 
		<input type="submit" value="搜索" class="global2_btn_orange" style="line-height:28px;">
	</form>
 
	<!-- 主体内容 -->
	<table align="center" cellpadding="2" width="100%" cellspacing="0" class="toptable grid table_style table_style_2017" border="0">
		<tr> 
			<th>楼盘名称</th>
			<th>位置</th>
			<th>当前均价</th>
			<th>创建时间</th>
			<th>销售状态</th>
			<th>内容管理</th>
			<th>推荐</th>
			<th>上线</th>
			<th>操作</th>	
		</tr>
		<tr is="item" v-for="(item,index) in displayedItems" :key="item.Loupanid" :item="item" :index="index"></tr>
	</table> 

	<!-- 分页 -->
	<div class="pageNavigation" id="pageNavigation"></div> 
	 
</div>

<!-- 分页模板 -->
<script type="text/x-template" id="page-template">
	<tr :id="'item'+item.Id" align="center">  
		<td><a :href="'/house/loupanindex_'+item.Loupanid" target="_blank">{{item.Chrloupan}} <span class='ico_jian' v-show='item.Tuijian'></span></a></td>
		<td>{{item.QuyuName}}-{{item.DiduanName}}</td>
		<td>{{item.Avgprice}}元/平</td>
		<td>{{item.Flushdate}}</td> 
		<td>
			<span class="pub pub_4" v-if="item.SaleStatus==0">待售</span>
			<span class="pub pub_5" v-else-if="item.SaleStatus==1">在售</span>
			<span class="pub pub_3" v-else-if="item.SaleStatus==2">售罄</span>
			<span class="pub pub_2" v-else-if="item.SaleStatus==3">不可售</span>
			<span class="pub" v-else>默认</span>
		</td>
		<td align="center">
			<a :href="'LoupanBaseupdate?Loupanid='+item.Loupanid" class="sys_btn_a">基本资料</a>
			<a :href="'LoupanDetailupdate?Loupanid='+item.Loupanid" class="sys_btn_a">详细资料</a>
			<a :href="'LoupanPic?Loupanid='+item.Loupanid" class="sys_btn_a">相册</a>
			<a :href="'LoupanHuxing?Loupanid='+item.Loupanid" class="sys_btn_a">房型图</a>
			<a :href="'LoupanSalesdynamics?Loupanid='+item.Loupanid" class="sys_btn_a">动态</a>
			<a :href="'LoupanPrice?Loupanid='+item.Loupanid" class="sys_btn_a">价格</a>
			<a :href="'LoupanBuilding?Loupanid='+item.Loupanid" class="sys_btn_a">沙盘</a>
			<a :href="'LoupanPanorama?Loupanid='+item.Loupanid" class="sys_btn_a">全景</a>
		</td>
		<td><span class="open_close" :class="item.Tuijian?' on':''" @click.prevent="tuijian(item.Loupanid,!item.Tuijian,index)"></span></td>
		<td><span class="open_close" :class="item.IsShelf?' on':''" @click.prevent="xiajia(item.Loupanid,!item.IsShelf,index)"></span></td>
		<td align="center">
			<a :href="'../hongbao_list.aspx?action=fahongbao&tableid=house&cid='+item.Loupanid+'&chrtitle='+item.Chrtitle" class="sys_btn_a">
				<i class="hongbao"></i>塞红包
			</a> 
			<a href="#" @click.prevent.self="del([item.Loupanid],index)" class="sys_btn_a">
				<i class="del"></i>删除
			</a>
		</td>
	</tr>
</script>


<script src="{$Default_tplPath}js/jquery.cookie.js"></script>
<script src="{$atplPath}js/vue/axios.min.js"></script>
<script src="{$atplPath}js/vue/es6-promise.auto.min.js"></script>
<script src="{$atplPath}js/vue/vue.min.js"></script>
<script src="{$atplPath}js/house_admin_2018.js"></script>
<script>
function returnFirstpage(){  //分页
	window['keyvalues'] = $.extend(window['keyvalues'],{"pageid":"1"});
	mylist&&mylist.getNewData();
	$('#returnFirstPage1').hide();
}




var Item = { // 内容模板
	data:function (){
		return {
			Hongbao_isopen:window['Mh163k_Plugin_Hongbao_isopen']==='1'
		}
	},
	components: {
	},
	props: ['item','index'],
	methods: {   
		del:function(id_arr,index){// 删除
			if(!window.confirm('您确定要删除该房源吗？')){return false;}
			var that = this;
			that.$parent.Del(id_arr,function(){
				that.$parent.displayedItems.splice(index,1);
			});
		},
		tuijian:function(id,val,index){// 推荐
			var that = this;
			that.$parent.Tuijian(id,val,function(){
				Vue.set(that.$parent['displayedItems'][index], 'Tuijian', val);
			});
		},
		xiajia:function(id_arr,isShelf,index){ // 上下架
			var that = this;
			that.$parent.Xiajia(id_arr,isShelf,function(){
				Vue.set(that.$parent['displayedItems'][index], 'IsShelf', isShelf);
			});
		},
	},
	template: '#page-template'
};
 
var mylist = new Vue({
	el: '#app',
	components: {
		'item': Item, 
	},
	data: {
		agent_tips_window:false,
		agent_tips_window_id:0,
		agent_tips_window_action:'',
		agent_tips_window_isloaded:false,
		ifFixedFilter2:false,
		ifLoadding:false,
		ifNoMore:false,
		displayedItems: [],
		ZhongJieList:[],
		CurrentPage:1,
		TotalPage: 0,
		TotalRecord:0,
		SaleStatus:'', //楼盘状态
		LouPanCount:{}, //楼盘状态
		Keywords:'',//搜索关键字
		SectionRegionList:[],//区域地段列表
		SectionList:[{'Chrcategory':"请输入地段",'Categoryid':''}],//地段列表
		SectionSelected:'',//选中地段
		RegionList:[{'Chrcategory':"请输入区域",'Categoryid':''}],//区域列表
		RegionSelected:''//区域地段
	}, 
	watch: {
    	// 区域改变时候触发搜索
		RegionSelected: function (newVal, oldVal) { 
			var that = this;
			that.SectionList = [{'Chrcategory':"请输入地段",'Categoryid':''}];
			that.SectionSelected=''; 
			if(newVal !==oldVal && newVal !== '' ){ 
				var idx; 
				that.RegionRegionList.forEach(function(item,index){
					if(item.Categoryid == newVal){
						idx = index;
						return
					}; 
				});   
				var SectionList = that.SectionList.concat(that.RegionRegionList[idx].Entities) 
				that.SectionList = SectionList 
			}

			that.submitSearch();
		},

		 SectionSelected: function (newVal, oldVal) { // 地段改变时候触发搜索
			var that = this;
			if(newVal !==oldVal  ){
				that.submitSearch();
			}
		}
	},

	methods: {
		Del:function(id_arr,callback){ //删除某一项 
			var that = this,url = '/api/LouPan/LoupanDelete?timer='+Date.parse(new Date());
			$.ajax({
				url:url,
				type:"POST",
				dataType:"json",
				contentType:"application/json;charset=utf-8",
				data: JSON.stringify(id_arr),
				success:function(res){
					if(typeof res.iserror !== 'undefined' && res.iserror === 1){
						MSGwindowShow('house','0','操作失败了！','','');
						return;
					}
					MSGwindowShow('house','0','删除成功！','','');
					callback&&callback.call(that);
				},
				error:function(message){  
					MSGwindowShow('house','0','操作失败了！','','');
				}
			});
		},

		Tuijian:function(id,val,callback){// 推荐
			var that = this,url = '/api/LouPan/LouPanUpdateTuiJianStatus?loupanId='+id+'&isTuijian='+val;
			axios.post(url).then(function(res){
				if(typeof res.data.iserror !== 'undefined' && res.data.iserror === 1){
					MSGwindowShow('house','0','操作失败了！','','');
					return;
				}
				//MSGwindowShow('house','0','操作成功了哦！','','');
				callback&&callback.call(that);
			}).catch(function(err){MSGwindowShow('house','0','操作失败了！','','');console.log(err);});
			return false;
		},

		Xiajia:function(id_arr,isShelf,callback){ // 上下架
			var that = this,url = '/api/LouPan/LoupanUpdateShelfStatus?loupanId='+id_arr+'&IsShelf='+isShelf;
			axios.post(url).then(function(res){
				if(typeof res.data.iserror !== 'undefined' && res.data.iserror === 1){
					MSGwindowShow('house','0','操作失败了！','','');
					return;
				}
				//MSGwindowShow('house','0','操作成功了哦！','','');
				callback&&callback.call(that);
			}).catch(function(err){MSGwindowShow('house','0','操作失败了！','','');console.log(err);});
		},
		
		submitSearch:function(){ // 搜索
			var that = this;   
			that.filterClick({Keywords:that.Keywords,Section:that.SectionSelected,Region:that.RegionSelected});
			return false;
		},

		filterClick:function(obj){// 楼盘状态过滤
			var that = this,key;
			window['keyvalues'] = $.extend(window['keyvalues'],obj,{"pageid":"1"});
			for(key in obj){
				that[key] = obj[key];
			}
			that.getNewData();
		},

		getNum:function(){// 获取楼盘状态的数量
			var that = this,url = '/api/LouPan/GetLouPanCountBySaleStatus';
			axios.get(url).then(function(res){
				if(typeof res.data.iserror !== 'undefined' && res.data.iserror === 1){
					that.ifNoMore = true;
					that.ifLoadding = false;
					return;
				}
				var Data = res.data; 
				that.LouPanCount = Data;
			}).catch(function(err){that.ifLoadding = false;MSGwindowShow('house','0','加载失败了！','','');console.log(err);});
		},

		getRegionRegion:function(){ //获取区域和地段
			var that = this,url = '/api/Category/SearchCategory?category=0';
			axios.get(url).then(function(res){
				if(typeof res.data.iserror !== 'undefined' && res.data.iserror === 1){
					that.ifNoMore = true;
					that.ifLoadding = false;
					return;
				}
				var Data = res.data[0]; 
				that.RegionRegionList = Data; 
				var  RegionList = that.RegionList; 
				Data.forEach(function(item, index){
					RegionList.push({'Categoryid':item.Categoryid,'Chrcategory':item.Chrcategory})
				}); 
				that.RegionList = RegionList  
			}).catch(function(err){that.ifLoadding = false;MSGwindowShow('house','0','加载失败了！','','');console.log(err);});

		},
	 
		setPageList:function(){// 设置分页具体展示
			var that = this;
			var result =  makePageListMenu(that.TotalPage,that.CurrentPage);
			$('#pageNavigation').html(result);
		},
	 
		getNewData:function(){
			var that = this; 
			that.ifNoMore = false;
			that.displayedItems = [];
			that.getData();
		},
		getData: function () {  // 加载数据
			var that = this;
			that.CurrentPage = parseInt(window['keyvalues'].pageid);
			that.ifLoadding = true;
			axios.get(window['apiurl'],{params:window['keyvalues']}).then(function(res){
				if(typeof res.data.iserror !== 'undefined' && res.data.iserror === 1){
					that.ifNoMore = true;
					that.ifLoadding = false;
					return;
				}
				var Data = res.data.Data;
				that.TotalPage = parseInt(res.data.TotalPage)
				that.TotalRecord = parseInt(res.data.TotalRecord);
				that.setPageList();
				if(Data.length===0){return false;}
				for(var i=0;i<Data.length;i++){ 
					var idate = '';
					if(!Data[i].Flushdate){
						idate = formatTime_s(new Date(Data[i].Dtappenddate));
					}else{
						idate = formatTime(new Date(Data[i].Flushdate));
					}
					Data[i].Flushdate = idate;
					Data[i].showSuper = false;
					Data[i].checked = false;
				} 
				
				that.displayedItems = [];
				Data.length>0 ?(that.displayedItems = that.displayedItems.concat(Data)):'';
				that.ifLoadding = false;
				(that.TotalPage===0) && (that.ifNoMore = true);

				// 分页相关
				(that.TotalPage===that.CurrentPage || that.TotalPage<that.CurrentPage) && (that.ifNoMore = true,that.CurrentPage=that.TotalPage);
				history.pushState(null, '', '?p='+that.CurrentPage);
				//如果不是第一页
				if(that.CurrentPage!==1){
					$('#returnFirstPage1')[0]&&$('#returnFirstPage1').show();
				}
			}).catch(function(err){that.ifLoadding = false;MSGwindowShow('house','0','加载失败了！','','');console.log(err);});
		}
	},
	
	created: function () {
		var that = this;
		that.getData();
		that.getNum();
		that.getRegionRegion();
	}
});
$(function(){
	var url_obj = $.url(window.location.href).param();
	
});
</script>
</body>
</html>